 *{
  box-sizing: border-box;
}
body{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #142d4c; 
  color: #ececec;
}


.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
   h1{
    font-size: 60px;
  }

  .header form{
    font-size: 24px;
    height: 30px;
    width: 500px;
  }
  .header input{
    height: 100%;
    width: 80%;
    border: 1px solid #9fd3c7;
    padding-left: 5px;
    background-color: #ececec;
  }
  .header input:focus{
    outline: none;
  }
  .header .addBtn{
    cursor: pointer;
    border: 1px solid  #9fd3c7;
    color: #ececec;
    height: 100%;
    width: 20%;
    background:  #9fd3c7;
  }
  .header .addBtn:hover {
    background:  #385170;
    border: 1px solid  #385170;
  }
  .main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    
  }
  .todo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
  }

  .doneBtn{
    margin-right: 15px;
    color: #9fd3c7;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
  } 
  .deleteBtn{
    color: #f95959;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }